## web-scraping-challenge

In [1]:
# import dependencies

from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import os

In [2]:
executable_path = {'executable_path': 'C:\\Users\\home\\Downloads\\tmp\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

#### NASA Mars News

In [5]:
news_title = soup.find_all("div", class_="content_title")

In [ ]:
#news_title

In [6]:
news_title[1].text.strip()

"NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet"

In [7]:
news_p = soup.find("div", class_="article_teaser_body").text

In [8]:
news_p

'The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.'

In [10]:
# closing the browser after scraping
browser.quit()

#### JPL Mars Space Images - Featured Image

In [14]:
executable_path = {'executable_path': 'C:\\Users\\home\\Downloads\\tmp\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [15]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [16]:
html = browser.html
soup = bs(html, 'html.parser')

In [17]:
featured_image_url = soup.find_all("article", class_="carousel_item")

In [18]:
featured_image_url = soup.find("a", class_="button fancybox")

In [19]:
featured_image_url = 'https://www.jpl.nasa.gov' + featured_image_url['data-fancybox-href']

In [20]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18185_ip.jpg'

In [21]:
# closing the browser after scraping
browser.quit()

#### Mars Facts

In [22]:
executable_path = {'executable_path': 'C:\\Users\\home\\Downloads\\tmp\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [23]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [24]:
import pandas as pd

In [25]:
facts = pd.read_html(url)
#facts

In [26]:
facts_df = facts[0]
facts_df.columns = ['descr', 'fact']

In [27]:
facts_df

                  descr                           fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [28]:
html_table = facts_df.to_html()
html_table

#facts_df.to_html('mars_facts.html')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>descr</th>\n      <th>fact</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [29]:
# closing the browser after scraping
browser.quit()

#### Mars Hemispheres

In [55]:
executable_path = {'executable_path': 'C:\\Users\\home\\Downloads\\tmp\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [56]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [112]:
products = browser.find_by_tag('h3')

In [114]:
# storing <h3> tag into a list

prod_lst = []
for t in products:
   prod_lst.append(t.value)

In [172]:

# pre-define url
url = 'https://astrogeology.usgs.gov'

results = []

# looping through list to acquire img_url

for prod in prod_lst:
    # define an empty dictionary to save each title & url pair
    tmp_dict = {}
    
    # click through products list to scrap page into soup
    browser.click_link_by_partial_text(prod)
    html = browser.html
    soup = bs(html, 'html.parser')
    
    # accessing & parsing url  
    img_url = soup.find("div", class_="page-background")
    img_url = img_url['style'].split("'")[1]
    img_url = f"{url}{img_url}"
    
    # assigning key, value pair into dictionary
    tmp_dict['title'] = prod
    tmp_dict['img_url'] = img_url
      
    
    # storing title & url to the list
    results.append(tmp_dict)
    
    # going back to the products page
    
    browser.back()

# close the browser after scraping
browser.quit()